* {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  background: white;
  color: #333;
  font-family: sans-serif;
  font-size: 13px;
}

a,
a:active,
a:visited,
a:active {
  color: #666;
}

a:hover {
  color: #000;
}

.header {
  background: #357;
  color: white;
  padding: 10px 20px;
  border-bottom: 5px solid dodgerblue;
  text-align: center;
}

.title {
  font-size: 20px;
  margin: 5px auto 10px;
  text-transform: capitalize;
}

.label {
  font-weight: bold;
}

.input,
.button {
  background: #FFF;
  border: none;
  padding: 2px 5px;
  color: #333;
}

.button {
  text-transform: uppercase;
}

.results {
  margin: 20px auto 0;
}

.table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 75%;
}

.table th,
.table td {
  padding: 15px;
}

.table-header-row {
  background: #357;
  color: white;
}

.table-header-row th {
  border-bottom: 2px solid dodgerblue;
  text-align: left;
}

.table-row:nth-child(even) {
  background: #f6f6f6;
}

.table-row:hover {
  background: dodgerblue;
  color: white;
}

/* NFL */
.table-nfl .table-header-row {
  background: #013369;
}

.table-nfl .table-header-row th {
  border-color: #d50a0a;
}

.table-nfl .table-row:hover {
  background: #eee;
  color: black;
}

/* NHL */
.table-nhl .table-header-row {
  background: #e4e5e6;
  color: black;
}

.table-nhl .table-header-row th {
  border-color: black;
}

.table-nhl .table-row:hover {
  background: #f69e20;
}

/* NBA */
.table-nba .table-header-row {
  background: #1D428A;
}

.table-nba .table-header-row th {
  border-color: #c8102e;
}

.table-nba .table-row:hover {
  background: #0b153c;
}

/* MLB */
.table-mlb .table-header-row {
  background: #002e6c;
}

.table-mlb .table-header-row th {
  border-color: #d50032;
}

.table-mlb .table-row:hover {
  background: #e2e2e2;
  color: black;
}

.team-color {
  display: inline-block;
  width: 15px;
  height: 12px;
  border: 1px solid black;
  margin: 0 1px;
}
