.header {
  background: #357;
  color: white;
  padding: 10px 10px;
  border-bottom: 5px solid dodgerblue;
  text-align: center;
}

.search {
  margin: 0 auto;
  width: 300px;
  display: grid;
  grid-template-areas:
    'title use-loc use-loc'
    'label-latitude label-longitude .'
    'input-latitude input-longitude button-go';
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  align-items: left;
  align-content: center;
  justify-items: left;
}

.button-location {
  padding: 0;
  grid-area: use-loc;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: Oswald;
  text-transform: uppercase;
  color: #FFF;
  font-size: 14px;
}

.location-icon {
  height: 12px;
}

.title {
  font-size: 24px;
  text-transform: uppercase;
  grid-area: title;
  margin: 0;
}

@media screen and (min-width: 640px) {
  .search {
    width: 490px;
    grid-template-areas:
    'title label-latitude label-longitude .'
    'title input-latitude input-longitude button-go'
    'use-loc use-loc use-loc use-loc';
  }

  .title {
    font-size: 40px;
    line-height: 38px;
  }
}

.label-latitude {
  grid-area: label-latitude;
}

.input-latitude {
  grid-area: input-latitude;
}

.label-longitude {
  grid-area: label-longitude;
}

.input-longitude {
  grid-area: input-longitude;
}

.button-go {
  grid-area: button-go;
}

.input-latitude,
.input-longitude {
  width: 100px;
}

.nav {
  width: 300px;
  margin: 10px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media screen and (min-width: 640px) {
  .nav {
    width: 490px;
  }
}

@media screen and (min-width: 960px) {
  .nav {
    width: 940px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.selection-sport {
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 5px 20px;
  background: dodgerblue;
  font-family: Oswald;
  text-transform: uppercase;
  transition: background-color .2s ease-out;
}

.selection-sport:hover {
  background: #4da7ff;
}

.sport-visible {
  background: transparent;
}
