.league {
  display: grid;
  min-width: 300px;
}

.league-header {
  padding: 0 10px;
  border-bottom: 2px solid transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.league-link {
  margin-left: 5px;
}

.league-link,
.league-link:active,
.league-link:hover,
.league-link:focus {
  text-decoration: none;
  color: #FFFFFF;
}

/* NFL */
.league-nfl .league-header {
  background: #013369;
  color: #FFFFFF;
  border-color: #d50a0a;
}

/* NHL */
.league-nhl .league-header  {
  background: #e4e5e6;
  color: black;
  border-color: black;
}

.league-nhl .league-link {
  color: #000000;
}

/* NBA */
.league-nba .league-header  {
  background: #1D428A;
  color: #FFFFFF;
  border-color: #c8102e;
}

/* MLB */
.league-mlb .league-header  {
  background: #002e6c;
  color: #FFFFFF;
  border-color: #d50032;
}

/* MLS */
.league-mls .league-header  {
  background: #363636;
  color: #FFFFFF;
  border-color: #e22318;
}

/* AAF */
.league-aaf .league-header  {
  background: #002e6c;
  color: #FFFFFF;
  border-color: #cd0e2d;
}

.league-name {
  text-align: center;
  font-size: 18px;
}
